*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


nav{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
}

.logo{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links a{
  color: rgb(227, 225, 225);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links li{
  list-style: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(227, 225, 225);
  margin: 5px;
  transition: transform 0.5s ease-in;
}
.burger{
  display: none;
  cursor: pointer;
}

body{
  background-color: black;
  color: rgb(227, 225, 225);
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  background-image: url("./image/vegas-night.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* behind the body */
body::after:not(:nav){
  content: "";
  position: absolute;
  background: black;
  width: 100%;
  height: 500vh;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.title{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 1.5rem;
  opacity: 0;
}

.title.active{
  opacity: 1;
  transition: all 3s;
}

section{
  position: relative; 
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.img-wrap{
  position: relative;
  top: 40%;
  height: 40%;
  width: 1px;
  overflow: hidden;
  opacity: 0;
}

.img-wrap.active{
  width: 40vh;
  opacity: 1;
  transition: opacity 1s, width 2s;
}

.img{
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  height: 100%;
  background-image: cover;
  background-position: center;
  transform: scale(1.6);
}

.img-wrap.title.active > .img{
  transform: scale(1);
  transition: 1s ease-out;
}

h2{
  position: absolute;
  font-size: 2.3rem;
  top: 70%;
  z-index: 2;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s;
}

h2.active{
  opacity: 1;
  transition: opacity 3s;
}


/* Responsive */
@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
}
@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    /* speed of slide */
    transition: transform 0.5s ease-in-out;
  }
  .nav-links li{
    /* opacity of element */
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

/* When it's clicked */
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}




